<p id="notice"><%= notice %></p>

<h1><%= current_user.name %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="tweets">
    <%= render @tweets, hidden: false %>
  </tbody>
</table>

<br>

<%= link_to 'Older', tweets_path(max_id: @tweets.last.id) %>
